* {
    box-sizing: border-box;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .game-board {
    background-color: olive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 4px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;
    padding: 4px;
    height: 100px;
  }
  
  .cell {
    padding: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  .cell-2 {
    background-color: orange;
  }
  
  .cell-4 {
    background-color: rgb(39, 207, 207);
  }
  
  .cell-8 {
    background-color: pink;
  }
  
  .cell-16 {
    background-color: palevioletred;
  }
  
  .cell-32 {
    background-color: greenyellow;
  }
  
  .cell-64 {
    background-color: burlywood;
  }
  
  .cell-128 {
    background-color: goldenrod;
  }
  
  .cell-256 {
    background-color: rebeccapurple;
  }
  
  .cell-512 {
    background-color: cyan;
  }
  
  .cell-1024 {
    background-color: gold;
  }
  
  .cell-2048 {
    background-color: aquamarine;
  }

  .cell-4096 {
    background-color: blanchedalmond
  }
  